<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<% if(pages.length>0) { /* redirect to the last/newest news page */ %>
	<meta http-equiv="refresh" content="0; url=<%= pages[pages.length-1].name %>" />
<% } %>
	<link rel="stylesheet" href="../style.css" />
	<title><%= currentSection.title %></title>
</head>
<body>
	<header>
		<div id="logo">
			<a href="/"><img src="logo.png" alt="Sweden Mayhem - Let The Mayhem Begin!" /></a>
		</div>
		<nav>
			<ul>
				<li><a href="../">Welcome</a></li>
<% for(const page of parentSection.contentPages){ %>
				<li><a href="../<%= page.name %>"><%= page.title %></a></li>
<% } %>
<% for(const section of parentSection.sections) if(section.hasIndex) { %>
				<li <%~ section.name=='news'?'class="active"':'' %>><a href="../<%= section.name %>/"><%= section.title %></a></li>
<% } %>
			</ul>
		</nav>
	</header>

	<article>
		<h1>News</h1>
		<p>There is no news</p>
	</article>
</body>
</html>
