<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#15243a">
	<link rel="stylesheet" href="../style.css" />
	<title>Hytale - Sweden Mayhem &gt; News &gt; <%= currentPage.title %></title>
</head>
<body>
	<header>
		<div id="logo">
			<a href="/">
				<img src="../swm_transparent.png" alt="Sweden Mayhem" />
			</a>
		</div>
		<nav>
			<ul>
				<li><a href="../">Welcome</a></li>
<% for(const page of parentSection.contentPages){ %>
				<li><a href="../<%= page.name %>"><%= page.title %></a></li>
<% } %>
<% for(const section of parentSection.sections) if(section.hasIndex) { %>
				<li <%~ section.name=='news'?'class="active"':'' %>><a href="../<%= section.name %>/"><%= section.title %></a></li>
<% } %>
			</ul>
		</nav>
	</header>

	<article>
<% const fmtDate = name => { const m = name.match(/^(\d{4})-(\d{2})-(\d{2})-(\d{2})(\d{2})(\d{2})$/); return m ? `${m[1]}-${m[2]}-${m[3]} ${m[4]}:${m[5]}:${m[6]}` : name; }; %>
<%~ currentPage.html.replace('</h1>', '<span class="post-date">'+fmtDate(currentPage.name)+'</span></h1>') %>
	</article>

	<div class="pagination">
		<a class="button" href="./">All news</a>
		<div class="spacer"></div>
<% if(currentPage.previousPage){ %>
		<a class="button" href="<%= currentPage.previousPage.name %>">← <%= fmtDate(currentPage.previousPage.name) %></a>
<% } %>
<% if(currentPage.nextPage){ %>
		<a class="button" href="<%= currentPage.nextPage.name %>"><%= fmtDate(currentPage.nextPage.name) %> →</a>
<% } %>
	</div>
</body>
</html>
