<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#15243a">
<link rel="stylesheet" href="../style.css" />
<title>Hytale - Sweden Mayhem &gt; News &gt; <%= currentPage.title %></title>
</head>
<body>
<header>
id="logo">
href="/">
src="https://www.hytale.com/static/images/logo.png" alt="Hytale" />
 class="site-title">Sweden Mayhem</span>
 class="site-subtitle">Hytale Server</span>
av>
href="../">Welcome</a></li>
<% for(const page of parentSection.contentPages){ %>
href="../<%= page.name %>"><%= page.title %></a></li>
<% } %>
<% for(const section of parentSection.sections) if(section.hasIndex) { %>
<%~ section.name=='news'?'class="active"':'' %>><a href="../<%= section.name %>/"><%= section.title %></a></li>
<% } %>
av>
</header>

<article>
<%~ currentPage.html %>
</article>

<div class="pagination">
class="button" href="./">All news</a>
class="spacer"></div>
<% if(currentPage.previousPage){ %>
class="button" href="<%= currentPage.previousPage.name %>">Previous: <%= currentPage.previousPage.name %></a>
<% } %>
<% if(currentPage.nextPage){ %>
class="button" href="<%= currentPage.nextPage.name %>">Next: <%= currentPage.nextPage.name %></a>
<% } %>
</div>
</body>
</html>
